body {
	background-attachment: fixed;
	background-color: #315481;
	background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}

.root {
	background: white;
}

.overlay.startup {
	background: black;
	color: white;
}